<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cartão</title>
</head>
<body>
    <h2>Vamos cadastrar um cartão.</h2>
    <form action="#" th:action="@{/card/saveCard/{studentId}(studentId=${studentId})}" th:object="${cardModel}" method="post">
      <p>Número: <input type="text" th:field="*{number}" /></p>
      <p>Bandeira: <input type="text" th:field="*{cardholder}" /></p>
      <p>Válido até: <input type="text" th:field="*{validUntil}" /></p>
      <p>CVV: <input type="text" th:field="*{code}" /></p>
      <p>Nome no cartão: <input type="text" th:field="*{ownerName}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>