<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Estudante</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Vamos começar seu cadastro.</h2>
<form action="#" th:action="@{/student/saveStudent}" th:object="${studentModel}" method="post">
    <p>Nome: <input type="text" th:field="*{name}" /></p>
    <p>Idade: <input type="number" th:field="*{age}" /></p>
    <p>Escola: <input type="text" th:field="*{school}" /></p>
    <p>Curso: <input type="text" th:field="*{course}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>